* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

:root {
    --bg-color: #0f172a;
    --card-color: #1e293b;
    --primary-color: #38bdf8;
    --text-color: #e5e7eb;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    line-height: 1.6;
}

header {
    height: 100vh;
    background: radial-gradient(circle at top, #1e293b, #020617);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

header h1 {
    font-size: 3rem;
}

header p {
    font-size: 1.3rem;
    margin-top: 10px;
}

section {
    padding: 80px 10%;
}

h2 {
    text-align: center;
    margin-bottom: 40px;
}
.skills-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
}

.skill-card {
    background: #1e293b;
    padding: 20px;
    text-align: center;
    border-radius: 12px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.skill-card i {
    font-size: 2.5rem;
    color: var(--primary-color);
    margin-bottom: 10px;
}

.skill-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 30px rgba(0,0,0,0.4);
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
}

.project-card {
    background: #1e293b;
    padding: 25px;
    border-radius: 15px;
}

.project-card a {
    color: #38bdf8;
    text-decoration: none;
}

.hidden {
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.8s ease;
}

.show {
    opacity: 1;
    transform: translateY(0);
}

.social-links {
    text-align: center;
    margin-top: 20px;
}

.social-links a {
    margin: 0 12px;
    font-size: 1.5rem;
    color: var(--primary-color);
    transition: transform 0.3s;
}

.social-links a:hover {
    transform: translateY(-5px);
}
